<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>title</title>
  </head>
  <body>
    <h1>Please enter your info below:</h1>
    <form action="/show" method="post">
      
    </form>
  </body>
</html>
